<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Shape - Yutaka Satoh</string>
		<key>image</key>
		<string>collection_001</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Amazing drawing of an eye</string>
		<key>image</key>
		<string>collection_002</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Hinamatsuri - KIGI</string>
		<key>image</key>
		<string>collection_003</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Laforet - Steve Nakamura</string>
		<key>image</key>
		<string>collection_004</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Bread on the Table - Shie Sato</string>
		<key>image</key>
		<string>collection_005</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Design - Kohei Sugiura</string>
		<key>image</key>
		<string>collection_006</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Bob Crooks</string>
		<key>image</key>
		<string>collection_007</string>
	</dict>
	<dict>
		<key>title</key>
		<string>business cards</string>
		<key>image</key>
		<string>collection_008</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Museum of the American Indian, Washington, DC by Kay Gaensler.</string>
		<key>image</key>
		<string>collection_009</string>
	</dict>
	<dict>
		<key>title</key>
		<string>deviantART: More Like Living room marker by ~MaoUndo</string>
		<key>image</key>
		<string>collection_010</string>
	</dict>
	<dict>
		<key>title</key>
		<string>colored pencil</string>
		<key>image</key>
		<string>collection_011</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The W building in Prague</string>
		<key>image</key>
		<string>collection_012</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Kandamyoujin Takigi-noh - Chikako Oguma, Sachiko Shintani​</string>
		<key>image</key>
		<string>collection_013</string>
	</dict>
	<dict>
		<key>title</key>
		<string>eye</string>
		<key>image</key>
		<string>collection_014</string>
	</dict>
	<dict>
		<key>title</key>
		<string>25 Beautiful &amp; Modern Poster Designs</string>
		<key>image</key>
		<string>collection_015</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wellness centre &apos;Tschuggen Bergoase&apos;</string>
		<key>image</key>
		<string>collection_016</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Very beautiful painting by Svenja Jödicke</string>
		<key>image</key>
		<string>collection_017</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Malwin Béla Hürkey | PICDIT</string>
		<key>image</key>
		<string>collection_018</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Poster</string>
		<key>image</key>
		<string>collection_019</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wish I wouldn&apos;t have stopped drawing. Have had this urge to start back up lately.</string>
		<key>image</key>
		<string>collection_020</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wish I wouldn&apos;t have stopped drawing. Have had this urge to start back up lately.</string>
		<key>image</key>
		<string>collection_021</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wish I wouldn&apos;t have stopped drawing. Have had this urge to start back up lately.</string>
		<key>image</key>
		<string>collection_022</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wish I wouldn&apos;t have stopped drawing. Have had this urge to start back up lately.</string>
		<key>image</key>
		<string>collection_023</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wish I wouldn&apos;t have stopped drawing. Have had this urge to start back up lately.</string>
		<key>image</key>
		<string>collection_024</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wish I wouldn&apos;t have stopped drawing. Have had this urge to start back up lately.</string>
		<key>image</key>
		<string>collection_025</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wish I wouldn&apos;t have stopped drawing. Have had this urge to start back up lately.</string>
		<key>image</key>
		<string>collection_026</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wish I wouldn&apos;t have stopped drawing. Have had this urge to start back up lately.</string>
		<key>image</key>
		<string>collection_027</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wish I wouldn&apos;t have stopped drawing. Have had this urge to start back up lately.</string>
		<key>image</key>
		<string>collection_028</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wish I wouldn&apos;t have stopped drawing. Have had this urge to start back up lately.</string>
		<key>image</key>
		<string>collection_029</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wish I wouldn&apos;t have stopped drawing. Have had this urge to start back up lately.</string>
		<key>image</key>
		<string>collection_030</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wish I wouldn&apos;t have stopped drawing. Have had this urge to start back up lately.</string>
		<key>image</key>
		<string>collection_031</string>
	</dict>
</array>
</plist>
