<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>MONO勃垦地</string>
		<key>headerAvatar</key>
		<string>header01</string>
		<key>headerTag</key>
		<string>创意</string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>image</key>
				<string>screenshot01</string>
				<key>title</key>
				<string>去你的撒哈拉</string>
				<key>subTitle</key>
				<string>Youtube - 06:32</string>
				<key>avatar</key>
				<string>avatar01</string>
				<key>plistToGo</key>
				<string>pro01</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>插画太空馆</string>
		<key>headerAvatar</key>
		<string>header02</string>
		<key>headerTag</key>
		<string>艺术</string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>image</key>
				<string>screenshot02</string>
				<key>title</key>
				<string>春游便当</string>
				<key>subTitle</key>
				<string>Youtube - 02:39</string>
				<key>avatar</key>
				<string>avatar02</string>
				<key>plistToGo</key>
				<string>pro02</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>Deep Focus</string>
		<key>headerAvatar</key>
		<string>header03</string>
		<key>headerTag</key>
		<string>电影</string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>image</key>
				<string>screenshot03</string>
				<key>title</key>
				<string>一枚CCTV镜头盖走过的路途</string>
				<key>subTitle</key>
				<string>Youtube - 06:32</string>
				<key>avatar</key>
				<string>avatar03</string>
				<key>plistToGo</key>
				<string>pro03</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>so-shut-up-boy</string>
		<key>headerAvatar</key>
		<string>header04</string>
		<key>headerTag</key>
		<string>其他</string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>image</key>
				<string>screenshot04</string>
				<key>title</key>
				<string>小人物的光芒</string>
				<key>subTitle</key>
				<string>Youtube - 06:32</string>
				<key>avatar</key>
				<string>avatar04</string>
				<key>plistToGo</key>
				<string>pro04</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>文工团</string>
		<key>headerAvatar</key>
		<string>header05</string>
		<key>headerTag</key>
		<string>人文</string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>image</key>
				<string>screenshot05</string>
				<key>title</key>
				<string>一座有故事的城市</string>
				<key>subTitle</key>
				<string>Youtube - 02:39</string>
				<key>avatar</key>
				<string>avatar05</string>
				<key>plistToGo</key>
				<string>pro05</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>煎蛋</string>
		<key>headerAvatar</key>
		<string>header06</string>
		<key>headerTag</key>
		<string>创意</string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>image</key>
				<string>screenshot06</string>
				<key>title</key>
				<string>斯坦森的愚人节魔性广告</string>
				<key>subTitle</key>
				<string>Youtube - 06:32</string>
				<key>avatar</key>
				<string>avatar06</string>
				<key>plistToGo</key>
				<string>pro06</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>LCA</string>
		<key>headerAvatar</key>
		<string>header07</string>
		<key>headerTag</key>
		<string>艺术</string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>image</key>
				<string>screenshot07</string>
				<key>title</key>
				<string>人工智能「27」号的一生</string>
				<key>subTitle</key>
				<string>Youtube - 06:32</string>
				<key>avatar</key>
				<string>avatar07</string>
				<key>plistToGo</key>
				<string>pro07</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>私家CIRCA</string>
		<key>headerAvatar</key>
		<string>header08</string>
		<key>headerTag</key>
		<string>其他</string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>image</key>
				<string>screenshot08</string>
				<key>title</key>
				<string>星星的孩子</string>
				<key>subTitle</key>
				<string>Youtube - 06:32</string>
				<key>avatar</key>
				<string>avatar08</string>
				<key>plistToGo</key>
				<string>pro08</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>音乐门诊部</string>
		<key>headerAvatar</key>
		<string>header09</string>
		<key>headerTag</key>
		<string>音乐</string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>image</key>
				<string>screenshot09</string>
				<key>title</key>
				<string>人心翻译机，你值得拥有</string>
				<key>subTitle</key>
				<string>Youtube - 06:32</string>
				<key>avatar</key>
				<string>avatar09</string>
				<key>plistToGo</key>
				<string>pro09</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>单读</string>
		<key>headerAvatar</key>
		<string>header10</string>
		<key>headerTag</key>
		<string>读书</string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>image</key>
				<string>screenshot10</string>
				<key>title</key>
				<string>如何变的充满创造力</string>
				<key>subTitle</key>
				<string>Youtube - 06:32</string>
				<key>avatar</key>
				<string>avatar10</string>
				<key>plistToGo</key>
				<string>pro10</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>新京报书评</string>
		<key>headerAvatar</key>
		<string>header11</string>
		<key>headerTag</key>
		<string>音乐</string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>image</key>
				<string>screenshot11</string>
				<key>title</key>
				<string>假装不经意间想到你</string>
				<key>subTitle</key>
				<string>Youtube - 06:32</string>
				<key>avatar</key>
				<string>avatar11</string>
				<key>plistToGo</key>
				<string>pro11</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>眼球奇谭</string>
		<key>headerAvatar</key>
		<string>header12</string>
		<key>headerTag</key>
		<string>艺术</string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>image</key>
				<string>screenshot12</string>
				<key>title</key>
				<string>这一刻，他已经等待太久</string>
				<key>subTitle</key>
				<string>Youtube - 06:32</string>
				<key>avatar</key>
				<string>avatar12</string>
				<key>plistToGo</key>
				<string>pro12</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
