<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>还不知道在电影院屏幕上看戏剧？现在更多新剧在路上</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24798.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>还不知道在电影院屏幕上看戏剧？现在更多新剧在路上</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24798.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>皮克斯发布《海底总动员 2》新角色，看看都什么样</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24797.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>皮克斯发布《海底总动员 2》新角色，看看都什么样</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24797.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>前迪士尼影业主席，和中国公司一起成立了电影基金</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24808.html</string>
	</dict>
</array>
</plist>
