<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>为了让你买买买，日本全家便利店推出跨境快递</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24833.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>为了让你买买买，日本全家便利店推出跨境快递</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24833.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>为了让你买买买，日本全家便利店推出跨境快递</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24833.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>为了让你买买买，日本全家便利店推出跨境快递</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24833.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>朱莉娅·罗伯茨的新片，改编自出版仅一周的小说朱莉娅·罗伯茨的新片，改编自出版仅一周的小说朱莉娅·罗伯茨的新片，改编自出版仅一周的小说朱莉娅·罗伯茨的新片，改编自出版仅一周的小说</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24812.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>为了让你买买买，日本全家便利店推出跨境快递</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24833.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>为了让你买买买，日本全家便利店推出跨境快递</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24833.html</string>
	</dict>
</array>
</plist>
