<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>带上这些实用工具，一起来迎接春天吧！</string>
		<key>url</key>
		<string>http://www.qdaily.com/cards/24352.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>YSL 创意总监离职，时尚业怎么全是待不久的设计师？</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24898.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>想让自己的衣服美得“有道德”，这个品牌做了什么？</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24770.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>豆瓣终于决定自己做书了，目前只卖了一本</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24887.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>“有机糖”，饮料商们，你们真的绝望到这个地步了吗？“有机糖”，饮料商们，你们真的绝望到这个地步了吗？“有机糖”，饮料商们，你们真的绝望到这个地步了吗？</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24809.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>一面镜子一幅画，透明的商品突然进入了一个语境</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24785.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>因为看上了她们的故事，时尚业越来越欢迎“老模特”</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24796.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>一面镜子一幅画，透明的商品突然进入了一个语境</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24785.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>豆瓣终于决定自己做书了，目前只卖了一本</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24887.html</string>
	</dict>
</array>
</plist>
