<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>中国四大航空公司发布 2015 年财报，业绩都不错</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24849.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这个丹麦学校需要一个活动场，然后就有了三个小岛</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24846.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>达芙妮10年来首次亏损，以往的渠道优势反而变成拖累</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24771.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>特斯拉发布新车 Model 3，但要 2017 年才能开</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24850.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>时尚圈都很喜欢的“小胖”去清华做演讲，都说了什么？</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24840.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>退役 13 年，乔丹依然是世界上收入最高的运动员之一</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24844.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>年底星巴克就要在中国门店里卖的茶，我们先在西雅图体验了一下</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24832.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>早饭吃点啥？吐司蘸啤酒……果酱</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24834.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大公司头条：阿里任命新 CTO，苹果获模块化表带专利</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24835.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>哪家制片厂首先把自己变成了一家金融公司？</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24814.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>“身为女人，没有哪个建筑师在过去几十年比她更有影响力”</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24839.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Google 做的浏览器彩蛋，变成了 iPhone 游戏</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24807.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>可以在微信里借钱了，但你不一定想用</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24842.html</string>
	</dict>
</array>
</plist>
