<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>没有苹果的平行世界，你猜会发生什么？</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24852.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>爱奇艺进入台湾图啥？听听台湾的导演和制作人怎么说</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24858.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>今年愚人节，科技公司带来了这 11 个新脑洞</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24843.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>再见，建筑师扎哈·哈迪德</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24830.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>麦当劳未来5年要在中国开1300 家店，还要引入投资者</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24857.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>「本周新片」《火锅英雄》好看，但还不够“英雄”</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24865.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>「万物简史」二度“消失”的苏联副统帅朱可夫</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24867.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>「万物简史」二度“消失”的苏联副统帅朱可夫</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24867.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>百度招募了一批科幻作家，说要和他们产生化学反应</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24859.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>用大数据来理财靠谱吗？京东和阿里巴巴各贡献了一个例子</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24845.html</string>
	</dict>
</array>
</plist>
