<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>从细条纹到牛仔夹克，来看新一季快时尚又给了什么诱惑</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24774.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>在一片湖上蒸桑拿，你可以先去西雅图试试</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24811.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>从细条纹到牛仔夹克，来看新一季快时尚又给了什么诱惑</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24774.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>在一片湖上蒸桑拿，你可以先去西雅图试试</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24811.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>从细条纹到牛仔夹克，来看新一季快时尚又给了什么诱惑</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24774.html</string>
	</dict>
</array>
</plist>
