<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>越来越多卖家具的地方，把展厅做成了家的模样</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24813.html</string>
	</dict>
</array>
</plist>
