<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>百事推迟有机佳得乐上市时间，这货究竟是什么？</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24788.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>互联网导师泛滥，人人都想教你做人| 好奇心研究所</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24673.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>微软的年度开发者大会都说了什么？</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24727.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>微软的年度开发者大会都说了什么？</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24727.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>微软的年度开发者大会都说了什么？</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24727.html</string>
	</dict>
</array>
</plist>
