<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>为了摆脱 Google 的控制，美国运营商要做手机操作系统了</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24804.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>如果建筑也有人格，他们会是怎么样的？（多图预警</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24775.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这个设计了不起之今日最佳</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24822.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>微软聊天机器人 Tay 短暂回归了，但效果依然很糟糕</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24802.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>微软聊天机器人 Tay 短暂回归了，但效果依然很糟糕</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24802.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>微软聊天机器人 Tay 短暂回归了，但效果依然很糟糕</string>
		<key>url</key>
		<string>http://www.qdaily.com/articles/24802.html</string>
	</dict>
</array>
</plist>
