<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string></string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>推送通知</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string></string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>显示</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>账号</string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>image</key>
				<string>setting_icon01</string>
				<key>title</key>
				<string>清理缓存</string>
			</dict>
			<dict>
				<key>image</key>
				<string>setting_icon02</string>
				<key>title</key>
				<string>向朋友推荐</string>
			</dict>
			<dict>
				<key>image</key>
				<string>setting_icon03</string>
				<key>title</key>
				<string>给有渔评分</string>
			</dict>
			<dict>
				<key>image</key>
				<string>setting_icon04</string>
				<key>title</key>
				<string>退出登录</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string></string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>title</key>
				<string>关于</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
